.stock {
  width: 90%;
  margin: 0 auto;
  padding-top: 5px;
  height: 550px;
  overflow-y: scroll;
}

.header {
  height: 100px;
  background-color: rgb(1, 112, 186);
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding-top: 10px;
}

.sub__title {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  color: #fff;
  cursor: pointer;
}

.sub__title :hover {
  font-weight: 600;
}

.card {
  margin-top: 10px;
}
