/* .footer {
  margin-top: 50px;
} */

.footer__items {
  display: flex;
  justify-content: space-between;
  padding: 3px 40px;
  font-size: 14px;
}

.item {
  cursor: pointer;
  text-decoration: none;
  color: #111;
}

.item:hover {
  color: #0170ba;
}
