/* .products {
  padding-top: 10px;
  height: 150px;
} */

.card {
  width: 90%;
  margin: 10px auto;
}

.rule {
  border-bottom: 1px solid grey;
}

.footer__status {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.order__status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.panding {
  color: rgb(253, 180, 0);
  background-color: rgb(253, 180, 0);
}

.shipped {
  color: rgb(255, 104, 0);
  background-color: rgb(255, 104, 0);
}

.accepted {
  color: rgb(0, 184, 0);
  background-color: rgb(0, 184, 0);
}

.check {
  width: 90px;
  border: 1px solid black;
  padding-bottom: 5px;
  cursor: pointer;
}

/*product style */

.card-body {
  display: flex;
  justify-content: space-between;
}

.card__container {
  display: flex;
}

.order {
  font-weight: 600;
  margin-left: -10px;
}

.quantity {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.foodImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.items {
  font-size: 14px;
  color: grey;
  margin-top: 10px;
  margin-right: 10px;
}

.price {
  color: rgb(1, 112, 186);
  font-size: 16px;
  margin-top: -10px;
  text-align: left;
}

.paid {
  font-weight: 600;
  color: red;
  background-color: rgba(255, 0, 0, 0.26);
}

.ood {
  font-weight: 600;
  color: rgb(246, 143, 73);
  background-color: rgb(255, 233, 221);
}

/* product page style */
